/.idea/
/out/
exception/build
exception/.gradle
fileUpload/build
fileUpload/.gradle
jpa-basic/.idea/
jpa-basic/.idea
jpashop/.idea
jpql/.idea
jpql/target
jpawebapplication/build
jpawebapplication/.gradle
jpawebapplication/src/main/generated
data-jpa/.idea
data-jpa/.gradle
data-jpa/build
data-jpa/src/main/generated
querydsl/.idea
querydsl/build
querydsl/.gradle
index/.gradle
index/build
index/src/main/resources/application.yml